<!DOCTYPE html>
<html lang="en">
<head>
  <title>samuel cole</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
  <style>
    html {
      font-size: calc(1em + 1vw);
    }
    body {
      font-family: 'Inconsolata', monospace;
      background-color: #F8F8DE;
      padding: .3em;
      max-width: 35em;
    }
    header h1 {
      font-size: 5em;
      margin-bottom: 1.5em;
      font-weight: normal;
      margin-top: 0;
      line-break: anywhere;
    }
    header span {
      display: block;
    }
    header span.samuelcole {
      margin-left: 1em;
      color: red;
    }
    header span.dotname {
      margin-left: 1.2em;
    }
    p.description {
      font-size: 1.2em;
    }
    a, a:visited {
      font-weight: bold;
      color: black;
    }
    a:hover {
      background-color: black;
      color: white;
    }
    section {
      margin-top: 2em;
    }
    section p {
      color: #4C4C4C;
    }
    div.links {
      margin-top: 3em;
      padding: .05em 2em;
      background-color: white;
      display: inline-block;
    }
    div.links li {
      line-height: 1.5em;
    }
    a.heart {
      color: red;
    }
  </style>
</head>
<body>
  <header>
    <h1>
      <span class="sam">sam</span><span class="samuelcole">@samuelcole</span><span class="dotname">.name</span>
    </h1>
  </header>
  <p class="description">i make things. mostly websites:</p>
  <section>
    <h2>2008 – 2010</h2>
    <p>
      <a href="https://patch.com/">patch.com</a>:
      in the summer of '08, i moved to new york city, and started my first job as
      the original front-end engineer at a startup that was building a yet-unnamed
      network of local news sites. we ended up calling it patch, and later selling
      it to aol.
    </p>
  </section>
  <section>
    <h2>2010 – 2014</h2>
    <p>
      <a href="https://www.kickstarter.com/">kickstarter.com</a>:
      a few of my friends started working on a new website that would let artists
      raise money from their friends/family/fans to fund their creative projects.
      as a creator myself, i was thrilled to empower that mission, so i joined
      them as the twelfth employee and third engineer.
    </p>
  </section>
  <section>
    <h2>2014 – 2015</h2>
    <p>
      <a href="https://www.jukely.com/">jukely.com</a>:
      once kickstarter was established, i was looking for new ways to empower
      artists, and one of my friends had started a company designed to bring
      people out to live music events, with a particular focus on discovering
      bands at their beginning of their careers. it began as an iphone app, so
      they brought me on as lead web engineer, to build their website.
    </p>
  </section>
  <section>
    <h2>2015 – 2017</h2>
    <p>
      <a href="https://www.abacus.com/">abacus.com</a>:
      from my experience at kickstarter, i knew that once creative projects
      got to a certain point and spun into their own companies, they needed
      a whole suite of supporting software. i was thrilled to help build
      financial products for young companies. we were ultimately acquired by
      emburse.
    </p>
  </section>
  <section>
    <h2>2017 –</h2>
    <p>
      <a href="https://secure.actblue.com/">actblue.com</a>:
      during the 2016 election, i got involved with all-virtual volunteer
      groups of technical folks that were building technology to help
      progressive campaigns win elections. in 2017 i started looking for
      a way to do that work full time, and i found actblue, a non-profit
      tech company that builds a fundraising platform for progressives,
      which perfectly fit both my background and my ideals.
    </p>
  </section>
  <div class="links">
    <h2>links</h2>
    <ul>
      <li><a href="https://github.com/samuelcole">github</a></li>
      <li><a href="https://www.linkedin.com/in/samuelcole/">linkedin</a></li>
      <li><a href="mailto:sam@samuelcole.name">email</a></li>
      <li><a href="https://www.goodreads.com/user/show/131140-samuel">goodreads</a></li>
      <li><a href="http://live.xbox.com/en-US/Profile?gamertag=samuelcole1223">xbox</a></li>
      <li><a href="/heart.png" class="heart">heart</a></li>
    </ul>
  </div>
</body>
</html>
