.page {
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  display: flex;
  min-height: 100vh;
  font-family: var(--font-inconsolata), monospace;
  background-color: var(--background);
  flex-direction: column;
  gap: 2rem;
}

.header {
  font-weight: 300;
  font-size: 3rem;
  position: absolute;
  padding: 1rem 2rem;
}

.scroll {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 0.9rem;
  color: var(--text-secondary);
  background-color: var(--background);
  border-radius: 5px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  article {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    h2 {
      color: red;
    }
  }
  p {
    font-size: 1.5rem;
    color: var(--text-primary);
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  a {
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 1.4rem;
  }
}

.footer {
  font-size: 0.9rem;
  color: var(--text-secondary);
  padding: 1rem 2rem;
  border-top: 1px solid rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  .page {
    --text-primary: #ededed;
    --text-secondary: #bbb;
  }
}
